@import "variables";

.change {
  display: flex;
}

.change__navbar {
  display: flex;

  flex-direction: column;

  gap: 15px;

  width: 225px;
  height: 100%;

  margin-top: 15px;

  border-right: 1px solid $light-border-color;
  border-radius: 5px;
}

.change__navbar__link {
  padding: 0 15px;
}

.change__content {
  padding: 30px;

  width: 100%;
}