@import "variables";

a {
  text-decoration: none;

  &:hover {
    transition: 200ms;
  }
}

input {
  font-size: $font-size;

  padding: 10px;

  outline: none;
}

ul {
  line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}