@import "variables";

//header

header {
    display: flex;

    font-size: 1rem;

    background-color: $light-secondary-background-color;

}

.header__logo {
    height: 3em;
    width: 3em;
}

.header__menu {
    display: none;

    height: 3em;
    width: 3em;
}

.header__menu__image {
    display: block;

    width: 3em;
    height: 3em;

    cursor: pointer;
}

.header__logo__image {
    display: block;

    width: 3em;
    height: 3em;
}

.header__links {
    display: flex;

    flex:auto;

    justify-content: space-between;

    div {
        display: flex;

        gap: 1rem;

        padding: 0 0.7em;

        height: 3em;

        a {
            font-size: 1em;

            margin: auto 0;
        }
    }
}

.header__empty__section {
    display: none;
}

.header__theme {
    display: flex;

    height: 3em;

    padding: 0 1rem;
}

.header__empty {
    display: none;
}

@media (max-width: 46rem) {
    header {
        font-size: 1rem;
    }

    .header__links {
        display: none;
    }
    .header__menu {
        display: block;
    }
    .header__links {
        display: none;
    }
    .header__empty {
        display: block;
        flex: auto;
    }
}

// main

main {
    flex-grow: 1;
}

#main__links {
    display: none;

    background-color: $light-background-color;

    width: 100%;

    font-size: 1em;

    flex-direction: column;

    gap: 1em;

    padding: 1rem;

    border-bottom: 1px solid $light-border-color;
}

.main__links__visible {
    animation: appearsFromNone 0.3s forwards;
}

.main__links__closing {
    animation: disappearsFromFlex 0.3s;
}

#main__content {
    padding: 1rem;
}

// footer

footer {
    background-color: $light-secondary-background-color;

    flex-shrink: 0;

    padding: 15px;
}

.dark {
    header {
        background-color: $dark-secondary-background-color;
    }

    footer {
        background-color: $dark-secondary-background-color;
    }
}

@keyframes appearsFromNone {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes disappearsFromFlex {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}