@import "variables";

//header

header {
    display: flex;

    font-size: 1.3rem;
}

.header__logo {
    height: 3em;
    width: 3em;
}

.header__menu {
    display: none;

    height: 3em;
    width: 3em;
}

.header__menu__image {
    display: block;

    width: 3em;
    height: 3em;

    cursor: pointer;
}

.header__logo__image {
    display: block;

    width: 3em;
    height: 3em;
}

.header__links {
    display: flex;

    flex:auto;

    gap: 1rem;

    padding: 0 0.7em;

    height: 3em;

    a {
        font-size: 1em;

        margin: auto 0;
    }
}

.header__theme {
    display: flex;

    height: 3em;

    padding: 0 1rem;
}

@media (max-width: 54rem) {
    header {
        font-size: 1rem;
    }
}

@media (max-width: 42rem) {
    header {
        font-size: 1.3rem;
    }

    .header__links {
        display: none;
    }
    .header__menu {
        display: block;
    }
    .header__links {
        display: none;
    }
    .header__theme {
        display: none;
    }
}

// main

main {
    flex-grow: 1;
}

#main__links {
    display: none;

    font-size: 1.3rem;

    flex-direction: column;

    gap: 1em;

    padding: 1rem;

    border-bottom: 1px solid $light-border-color;
}

@media (min-width: 42rem) {
    #main__links {
        display: none !important; // чтобы при отдалении не оставалось меню
    }
}

#main__content {
    padding: 1rem;
}

// footer

footer {
    flex-shrink: 0;

    padding: 15px;
}