// background
$light-background-color: #fff;
$light-secondary-background-color: #f8f8f8;

$dark-background-color: #262626;
$dark-secondary-background-color: #2f2f2f;

// text
$light-font-color: #3b3b3b;
$light-font-color-hover: #63adff;

$dark-font-color: #ececec;
$dark-font-color-hover: #ea8a8a;

$light-border-color: #d9d9d9;
$dark-border-color: #e8e8e8;

// button
$light-button-primary-background-color: #3a98e7;
$light-button-primary-background-color-hover: darken(#208ede, 10%);
$light-button-primary-border-color: darken(#208ede, 20%);

$light-button-secondary-background-color: #92ec81;
$light-button-secondary-background-color-hover: darken($light-button-secondary-background-color, 10%);
$light-button-secondary-border-color: darken($light-button-secondary-background-color, 20%);

$light-button-common-background-color: $light-background-color;
$light-button-common-background-color-hover: darken($light-background-color, 10%);
$light-button-common-border-color: darken($light-background-color, 20%);


$dark-button-primary-background-color: #5e83e5;
$dark-button-primary-background-color-hover: lighten(#5e83e5, 10%);
$dark-button-primary-border-color: lighten(#5e83e5, 20%);

$dark-button-secondary-background-color: #07cc14;
$dark-button-secondary-background-color-hover: lighten($dark-button-secondary-background-color, 5%);
$dark-button-secondary-border-color: darken($dark-button-secondary-background-color, 10%);

$dark-button-common-background-color: $dark-background-color;
$dark-button-common-background-color-hover: lighten($dark-background-color, 10%);
$dark-button-common-border-color: lighten($dark-background-color, 20%);

// schedule

// lesson
$light-lesson-type-lecture: #c93d3d;
$light-lesson-type-seminar: #3dc97a;
$light-lesson-type-laboratory-work: #3d8ac9;
$light-lesson-type-course-work: #bb3dc9;

$dark-lesson-type-lecture: #b6c93d;
$dark-lesson-type-seminar: #963dc9;
$dark-lesson-type-laboratory-work: #c93d91;
$dark-lesson-type-course-work: #c9883d;

// modal
$light-modal-background-color: rgba(91, 91, 93, 0.66);

$dark-modal-background-color: rgba(14, 14, 14, 0.88);

// toast

$light-toast-warning-color: rgba(250, 221, 145, 0.8);
$light-toast-error-color: #ef6464;
$light-toast-information-color: #75a8f3;

$dark-toast-warning-color: #f3bd14;
$dark-toast-error-color: #f15656;
$dark-toast-information-color: #1a9af6;