// background
$light-background-color: #fff;
$dark-background-color: #262626;

// text
$light-font-color: #3b3b3b;
$light-font-color-hover: #63adff;

$dark-font-color: #ececec;
$dark-font-color-hover: #ea8a8a;

$light-border-color: #d9d9d9;
$dark-border-color: #e8e8e8;

// button
$light-button-background-color: #fff;
$light-button-background-color-hover: #64e388;


$dark-button-background-color: #363636;
$dark-button-background-color-hover: #44bece;


// schedule

// lesson
$light-lesson-type-lecture: #c93d3d;
$light-lesson-type-seminar: #3dc97a;
$light-lesson-type-laboratory-work: #3d8ac9;
$light-lesson-type-course-work: #bb3dc9;

$dark-lesson-type-lecture: #b6c93d;
$dark-lesson-type-seminar: #963dc9;
$dark-lesson-type-laboratory-work: #c93d91;
$dark-lesson-type-course-work: #c9883d;

// modal
$light-modal-background-color: rgba(91, 91, 93, 0.66);

$dark-modal-background-color: rgba(14, 14, 14, 0.88);

// toast

$light-toast-warning-color: rgba(250, 221, 145, 0.8);
$light-toast-error-color: #ef6464;
$light-toast-information-color: #75a8f3;

$dark-toast-warning-color: #f3bd14;
$dark-toast-error-color: #f15656;
$dark-toast-information-color: #1a9af6;